<div class="panel">
  <%= form_for [:admin, user], :url => admin_login_path do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", :required => true %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <%= render 'application/messages', errors: user.errors %>

    <%= f.submit I18n.t('actions.send'), class: "btn btn-block btn-success" %>
  <% end %>
</div>
