<%= render 'page_header' %>
<%= render 'application/messages' %>

<%= form_for [:admin, @user] do |f| %>
	<div class="form-group">
		<%= f.label :name %>
		<p class="form-control-static"><%= @user.name %></p>
	</div>

	<div class="form-group">
		<%= f.label :email %>
		<p class="form-control-static"><%= @user.email %></p>
	</div>
<% end %>