<%= render 'page_header' %>
<%= render 'application/messages' %>

<%= form_for [:admin, @team] do |f| %>
  <hr>
  <div class="form-group">
    <p class="form-control-static">
      <b><%= I18n.t('messages.uploaded_files') %></b>
      <% if @team.files.present? %>
        <a href="<%= @team.files.url %>" class="label label-success"><%= I18n.t('yes') %></a>
        <br>
        <%= I18n.t('messages.sent_on') %> <%= l @team.files_updated_at, format: :short %>
      <% else %>
        <span class="label label-default"><%= I18n.t('no') %></span>
      <% end %>
    </p>
  </div>
  <hr>

  <div class="form-group">
    <%= f.label :name %>
    <p class="form-control-static"><%= @team.name %></p>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <p class="form-control-static"><%= @team.category.name %></p>
  </div>

  <div class="form-group">
    <%= f.label :login %>
    <p class="form-control-static"><%= @team.login %></p>
  </div>

	<div class="form-group">
    <%= f.label :members %>
	  <%= simple_format @team.members, class: 'form-control-static' %>
	</div>
<% end %>
