<h1><%= I18n.t('actions.show_model', :model => Exercise.model_name.human) %></h1>

<%= render 'application/messages' %>

<%= form_for(@exercise) do |f| %>
	<div class="form-group">
    <%= f.label :title %>
	  <p class="form-control-static"><%= @exercise.title %></p>
	</div>

	<div class="form-group">
    <%= f.label :text %>
	  <p class="form-control-static"><%= @exercise.text %></p>
	</div>
<% end %>

<br>

<div class="well">
	<%= link_to I18n.t('actions.edit'), edit_exercise_path(@exercise), class: 'btn btn-default' %>
	<%= link_to I18n.t('actions.back'), exercises_path, class: 'btn btn-default' %>
</div>