<!DOCTYPE html>
<html>
  <head>
    <title>OESTI Digital</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="<%= admin_root_url %>">
          <b>OESTI</b> Coding
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li <% if route_for? admin_exercises_path %>class="active"<% end %>>
            <%= link_to Exercise.model_name.human(count: 2), admin_exercises_path %>
          </li>

          <li <% if route_for? admin_users_path %>class="active"<% end %>>
            <%= link_to User.model_name.human(count: 2), admin_users_path %>
          </li>

          <li <% if route_for? admin_teams_path %>class="active"<% end %>>
            <%= link_to Team.model_name.human(count: 2), admin_teams_path %>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user.name %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to I18n.t('actions.profile'), admin_profile_path %>
              </li>
              <li>
                <%= link_to 'Logout', admin_logout_path, data: { confirm: I18n.t('messages.are_you_sure') } %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <main class="container">
      <%= yield %>
    </main>

    <footer class="container">
      <a href="http://www.oestidigital.com.br" target="_blank" class="brand">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 1463 1304" style="image-rendering:optimizeQuality;shape-rendering:geometricPrecision;text-rendering:geometricPrecision"><path class="fil0" d="M284 788c391 0 888 313 969 468 6 13 9 22 9 32l17-16c48-58 51-62 77-100 32-58 42-74 71-149l3-9c-9-172-581-462-1004-462-158 0-274 42-348 116-58 58-81 136-78 226 7 91 42 184 107 268-62-94-84-187-58-255 19-55 71-116 213-119 6 0 16 0 22 0l0 0z"/><path class="fil0" d="M688 36c90 0 181 12 265 41 167 59 309 162 403 294-77-158-219-281-387-335-71-23-142-36-213-36-107 0-207 26-301 71 75-23 152-35 233-35l0 0z"/><path class="fil0" d="M688 1304l265 0-133-226-22 39-7-3c-174-68-342-100-474-91-7 0-13 0-20 0-97 10-161 45-177 100-10 46 6 100 51 155-9-26-9-48 0-68 17-29 55-45 110-48 94-6 223 23 358 78 20 6 39 16 59 25l6 4-16 35 0 0z"/><path class="fil0" d="M384 297c427 0 975 307 1079 497l0-6c0-46-4-49-13-123-4-10-7-26-10-39l-3-13c-13-38-42-71-62-90-219-203-571-342-874-342-97 0-184 16-262 45l-6 0-36-68-119 197 229 10-32-62 13 0c29-6 64-6 96-6l0 0z"/></svg>
        <p>&copy; <%= Time.now.year %> OESTI Digital</p>
      </a>
    </footer>
  </body>
</html>
