<!DOCTYPE html>
<html>
  <head>
    <title>OESTI Digital</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <a class="navbar-brand" href="<%= root_url %>">
        <b>OESTI</b> Digital
      </a>
    </nav>

  	<div class="container">
    	<%= yield %>
    </div>
  </body>
</html>
